@import "tailwindcss";




.light-mode {
    background: #ffffff;
    color: #000000;
    min-height: 100vh;

}

.dark-mode {
    background: #1a1a1a;
    color: white;
    min-height: 100vh;

}

.dark-mode header {
    background: #1a1a1a;
}

.dark-mode footer {
    background: #1a1a1a;
}